$body-bg: #0f0f0f;
$main-color: #a96007;
$second-color: #4a107a;
$hero-name-color: #f4f408;
$txt-color: #eae1e1;

$white: #eae1e1;
$black: #000;

$header-height: 9.5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Rowdies", cursive;